.active {
  border-left: 8px solid #392B58;
  margin-left: -18px;
  padding: 21px 15px 21px 12px;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li {
  background: #efefef;
  padding: 20px 0px 20px 18px;
  margin-bottom: 10px;
}
#sidebar ul li a {
  color: #3A3335;
  font-size: 18px;
  font-weight: bold;
}

.bg-color {
  background: #392B58;
  color: #fff;
  padding: 30px 15px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
}

.bg-color h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.bg-color p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
  padding: 14px 0;
}

.bg-color .button-btn {
  background: #fff;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.bg-color .button-btn a {
  text-decoration: none;
  color: #392B58;
  font-size: 14px;
  font-weight: 700;
}

.right-contain {
  padding: 20px 40px;
  color: #222222;
  font-size: 18px;
  line-height: 1.7;
}

.right-contain h4 {
  font-size: 24px;
  font-weight: 700;
  color: #392b58;
}
.vir {
  width: 250px;
}
.sticky .vir{
  position: fixed;
  top: 10px;
  z-index: 6;
  width: 250px;
}

/* if want to remove that, you can remove thsi section */
.sticky .bg-color {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}
.sticky .vir {
  width: 271px;
  background-color: #06ab29b8;
}
/* if want to remove that, you can remove thsi section */



/*
#sidebar ul li { 
  padding: 16px 0px 16px 18px;
}
.vir { 
  width: 270px;
}
.active {
  padding: 16px 15px 16px 12px;
}
.sticky {
  width: 270px;
}
.bg-color h4 {
  color: #fff;
  margin-bottom: -20px;
}
.bg-color h4:after {
  visibility: hidden;
  opacity: 0;
}
.bg-color {
  background: #392B58;
  color: #fff;
  padding: 12px 23px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  margin-top: 42px;
}
.right-contain h4:after {
  visibility: hidden;
  opacity: 0;
}
.right-contain h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #392b58;
}
/* lineNo: 85 */
/* lineNo: 85 */
/* 
.sticky {
  background: rgba(255, 255, 255, 0.157);
}

.sticky section#bng {
  height: 720px;
}
@media (min-width: 991px){
  .sticky {
    position: fixed;
    top: 10px;
    z-index: 6;
    width: 250px;
  }
  #sidebar {
    background: #fff;
  }
  section#bng {
    height: 300px;
  }
}
.sticky {
  position: fixed;
  top: 70px;
  z-index: 6;
  /* width: 20%; 
  width: 270px;
} */
.container {
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
}

















